@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
    Layout = "~/Views/Shared/_SideNav.cshtml";
}

<div class="container-fluid">

    <div class="col-sm-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">@ViewData["Title"]</h6>
            </div>
            <div class="card-body">
                <p class="text-danger">This account has been locked out, please try again later.</p>
            </div>
        </div>
    </div>
</div>
