@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}

<div class="bg-gradient-primary"
     style="height: 100%; width: 100%; position: fixed;">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">

                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>


                                    <!-- Form begins here -->
                                    <form class="user" method="post">

                                        <div asp-validation-summary="All" class="text-danger small"></div>

                                        <!--Username Input-->
                                        <div class="form-group">
                                            <label asp-for="Input.Email" hidden></label>
                                            <input asp-for="Input.Email" type="email" class="form-control form-control-user"
                                                   aria-describedby="emailHelp" placeholder="Enter Email Address / Username">
                                            <span asp-validation-for="Input.Email" hidden class="text-danger"></span>
                                        </div>

                                        <!--Password Input-->
                                        <div class="form-group">
                                            <label asp-for="Input.Password" hidden></label>
                                            <input asp-for="Input.Password" type="password" class="form-control form-control-user" placeholder="Password">
                                            <span asp-validation-for="Input.Password" class="text-danger" hidden></span>
                                        </div>

                                        <!--Remember Me-->
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" asp-for="Input.RememberMe" />
                                                <label asp-for="Input.RememberMe" class="custom-control-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block">Log in</button>


                                    </form>

                                    <!-- Form ends here -->
                                    <!-- Recovery links begins here -->
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" id="forgot-password" asp-page="./ForgotPassword">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                    </div>

                                    <!-- Recovery links ends here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
